*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: rgb(245, 178, 53);
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgba(65, 231, 231, 0.921);
  font-size: 2.2rem;

}

#game {
  all: unset;
  margin-bottom: 20px;
}

button {
  all: unset;
  transition: 1s;
  background: none;
  border: "none";
  padding: 0;
}

button:hover {
  transform: scale(1.2);
}

#game-start {
  margin-right: 85px;
}

#multi-color {
  margin-right: 85px;
 

}

#black-color {
  margin-right: 85px;

}

/* #erase-board {

} */


#container {
  display: flex;
  justify-content: center;
  border: 10px solid gray;
  width: 550px;
  height: 550px;
  border-radius: 20%;
}